/////////////////////////////////////////////////
/////////////////////////////////////////////////
/// EXTENDS

/////////////////////////////////////////////////
/// Logo Extend use in Header(nav), Hero & Footer
%logo {
  color: $color-gray-dark;
  font-family: $font-display;
  letter-spacing: 0.2rem;
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/// MIXINS

/////////////////////////////////////////////////
/// Media Queries MANAGER
