.gallery {
  grid-column: center-start / center-end;
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(30, 5vw);
  gap: 1rem;

  padding: 2rem 0;

  &__item {
    position: relative;
    transition: all 0.5s ease-out;

    &-1 {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
    &-2 {
      grid-column: 4 / 6;
      grid-row: 1 / 6;
    }
    &-3 {
      grid-column: 6 / -1;
      grid-row: 1 / 4;
    }
    &-4 {
      grid-column: 1 / 4;
      grid-row: 4 / 10;
    }
    &-5 {
      grid-column: 4 / 6;
      grid-row: 6 / 10;
    }
    &-6 {
      grid-column: 6 / 9;
      grid-row: 4 / 10;
    }
    &-7 {
      grid-column: 1 / 4;
      grid-row: 10 / 13;
    }
    &-8 {
      grid-column: 4 / 6;
      grid-row: 10 / 15;
    }
    &-9 {
      grid-column: 6 / 9;
      grid-row: 10 / 13;
    }
    &-10 {
      grid-column: 1 / 4;
      grid-row: 13 / 16;
    }
    &-11 {
      grid-column: 6 / 9;
      grid-row: 13 / 16;
    }
    &-12 {
      grid-column: 4 / 6;
      grid-row: 15 / 19;
    }
    &-13 {
      grid-column: 1 / 4;
      grid-row: 16 / 19;
    }
    &-14 {
      grid-column: 6 / 9;
      grid-row: 16 / 19;
    }
    &-15 {
      grid-column: 1 / 5;
      grid-row: 19 / 23;
    }
    &-16 {
      grid-column: 5 / 9;
      grid-row: 19 / 23;
    }
    &-17 {
      grid-column: 1 / 5;
      grid-row: 23 / 27;
    }
    &-18 {
      grid-column: 5 / 9;
      grid-row: 23 / 27;
    }
    &-19 {
      grid-column: 1 / 5;
      grid-row: 27 / 31;
    }
    &-20 {
      grid-column: 5 / 9;
      grid-row: 27 / 31;
    }
  }

  &__img {
    border-radius: 2rem;
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out;

    &--caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);

      opacity: 0;
      text-align: center;
      transition: all 0.8s ease-out;

      a {
        color: $color-gray-light;
        font-family: $font-primary;
        font-size: 3rem;
        letter-spacing: 1.5;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  &__item:hover &__img--caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__item:hover &__img {
    filter: brightness(50%);
  }

  // .gallery:hover .gallery__item:not(:hover)
  &:hover &__item:not(:hover) {
    transform: scale(0.99);
    filter: blur(0.3rem) brightness(80%);
  }
}
